
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.android-small-1-qSy {
  overflow: hidden;
  background-repeat: no-repeat;
  height: 64rem;
  position: relative;
  background-position: center;
  background-image: url('REPLACE_IMAGE:40acfb8aa5d952fe16ac37236bf837e21fb7323a');
  background-color: #ffffff;
  width: 100%;
  background-size: 100% 100%;

  .capturedcran2023-12-30105501-removebg-preview-1-QeV {
    position: absolute;
    left: 6.5rem;
    top: 34.2rem;
    object-fit: cover;
    vertical-align: top;
    width: 22.9rem;
    height: 33.2rem;
  }
  .auto-group-msdf-bDB {
    position: absolute;
    left: 1.5rem;
    top: 3rem;
    width: 32.7rem;
    height: 28.1rem;

    .component-1-naV {
      width: 32.7rem;
      height: 28.1rem;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 0;
      object-fit: contain;
      vertical-align: top;
    }
    .frame-1-bnq {
      height: 25.6rem;
      background-color: rgba(6, 6, 6, 0.8700000048);
      overflow: hidden;
      box-sizing: border-box;
      padding: 5.6rem 4.8rem 5.4rem 3.1rem;
      width: 31.6rem;
      position: absolute;
      left: 0;
      top: 1rem;

      .hello-negga-its-me-mahmoud-Rms {
        font-style: italic;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        max-width: 23.7rem;
        font-size: 4rem;
        font-weight: 700;
        line-height: 1.2125;
      }
    }
  }
  .component-1-M3F {
    width: 40.6rem;
    height: 75.5rem;
    position: absolute;
    top: 0.3rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 0.5rem;
    border: dashed 0.1rem #9747ff;
    left: 94.9rem;
    overflow: hidden;
    padding: 2rem;

    .property-1frame-1-nuF {
      width: 36.6rem;
      height: 29.7rem;
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 12.1rem;
    }
    .property-1frame-2-TEh {
      width: 36.6rem;
      height: 29.7rem;
      cursor: pointer;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
